<html>
    <head>
        <title>Thumbnails {{ size }}x{{ size}}</title>
    </head>

    <h1>Thumbnails ({{ size }}x{{ size }})</h1>

    {% if error %}
        <h2 style="color: red;">ERROR: {{ error }}</h2>
    {% elif message %}
        <h2 style="color: green;">File uploaded!</h2>
    {% endif %}

    <h2>
        Sizes:
        {% for a_size in sizes %}
            {% ifnotequal a_size size %}
            <a href="{% url 'italist.thumbnailer:index' size=a_size %}">
            {% endifnotequal %}
            {{ a_size }}
            {% ifnotequal a_size size %}
            </a>
            {% endifnotequal %}
        {% endfor %}
    </h2>

    <br>

    <body>
        <ul>
            {% for thumbnail in thumbnails %}
            <li><img src="{{ thumbnail.url }}"></li>
            {% endfor %}
        </ul>
        <form method="post" enctype="multipart/form-data">
            <fieldset>
                {%  csrf_token %}
                <input type="file" name="image"/>
                <button type="submit">Upload</button>
            </fieldset>
        </form>
    </body>
</html>